<h1>Make Announcement</h1>

<form>
  <div>
    <label for="announcement_content">Content:</label>
    <textarea id="announcement_content" name="announcement[content]" placeholder="Enter announcement content" rows="5"></textarea>
  </div>
  <div>
    <input type="submit" value="Send Announcement">
  </div>
</form>
