<!-- app/views/pages/home.html.erb -->
<% if flash[:notice] %>
  <div class="alert alert-success" style="color: green;">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Welcome to My Club</h1>

<p>This is the home page of our club website.</p>

<%= link_to 'Announcements', announcements_path %> <br />
<%= link_to 'Sign-Up', new_member_path %> <br />
<%= link_to 'Members (temporary)', members_path %>

