<style>

.confirm-delete-options {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.confirm-delete-options > * {
  margin-left: 10px;
  margin-right: 10px;
}

</style>

<h1>Delete Member</h1>

<p style='justify-text: center'> Are you sure you want to delete this member <strong><%= @member.email %></strong>?</p>

<div class="confirm-delete-options">
  <%= button_to 'No', members_path, method: :get, class: 'btn btn-secondary' %>
  <%= button_to 'Yes', delete_member_path(@member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>