<style>
  table {
    width: auto;
    max-width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid grey;
  }

  th {
    text-align: center;
    width: auto;
    border: 1px solid grey;
    padding: 0 20px;
  }

  td {
    text-align: center;
    border: 1px solid lightgrey;
    padding: 0 20px;
  }

  td.email {
    text-align: left;
    width: auto;
  }

  td.join-date {
    text-align: center;
    width: auto;
  }
  
  td.member-actions {
    text-align: center;
    width: auto;
  }

  .asc-sort::after {
    content: "▲";
  }

  .desc-sort::after {
    content: "▼";
  }

</style>

<h1>Members List</h1>

<%= render 'members/table' %>

<br />